
@font-face {
    font-family: 'gotham_proregular';
    src: url('/fonts/gothampro-webfont.woff') format('woff2'),
         url('/fonts/gothampro-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'gotham_probold';
    src: url('/fonts/gothaprobol-webfont.woff2') format('woff2'),
         url('/fonts/gothaprobol-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'gotham_prolight';
    src: url('/fonts/gothaprolig-webfont.woff2') format('woff2'),
         url('/fonts/gothaprolig-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'gotham_prolight_italic';
    src: url('/fonts/gothaproligita-webfont.woff2') format('woff2'),
         url('/fonts/gothaproligita-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'opensans';
    src: url('/fonts/opensans-bold-webfont.woff2') format('woff2'),
         url('/fonts/opensans-bold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}


@font-face {
    font-family: 'roboto';
    src: url('/fonts/roboto-bold-webfont.woff2') format('woff2'),
         url('/fonts/roboto-bold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}


@font-face {
    font-family: 'roboto';
    src: url('/fonts/roboto-light-webfont.woff2') format('woff2'),
         url('/fonts/ roboto-light-webfont.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

* {
    box-sizing: border-box;
}

div {
    display: block;
}

html {
    line-height: 1.15;
}

html, body {
    margin: 0;
    height: 100%;
    width: 100%;
}

a {
    text-decoration: none;
}

li {
    
}

.body {

}

.wrapper {
    min-height: 100%;
    overflow: hidden;
    min-width: 1200px;
    display: flex;
    flex-direction: column;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

.header {
    
}

.header__conteiner {
    background: #2b2b40;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}

.logo {
    margin-left: 15px;
}

.contacts {
    margin-right: 20px;
    text-align: right;
    font-style: normal;
}

.contacts__tel {
     font-size: 28px; 
}

.contacts__phone {
    color: #fff;
    font-weight: bold;
    font-family: 'gotham_proregular';
}

.contacts__chart {
    font-size: 14px;
    font-family: open sans;
    color: #a52568;
    text-decoration: revert;
}

.banner {
    width: 1140px;
}

.menu__list {
    display: flex;
    flex-direction: column;
}