
@font-face {
    font-family: 'gotham_proregular';
    src: url('/fonts/gothampro-webfont.woff') format('woff2'),
         url('/fonts/gothampro-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'gotham_probold';
    src: url('/fonts/gothaprobol-webfont.woff2') format('woff2'),
         url('/fonts/gothaprobol-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'gotham_prolight';
    src: url('/fonts/gothaprolig-webfont.woff2') format('woff2'),
         url('/fonts/gothaprolig-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'gotham_prolight_italic';
    src: url('/fonts/gothaproligita-webfont.woff2') format('woff2'),
         url('/fonts/gothaproligita-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'opensans';
    src: url('/fonts/opensans-bold-webfont.woff2') format('woff2'),
         url('/fonts/opensans-bold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}


@font-face {
    font-family: 'roboto';
    src: url('/fonts/roboto-bold-webfont.woff2') format('woff2'),
         url('/fonts/roboto-bold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}


@font-face {
    font-family: 'roboto';
    src: url('/fonts/roboto-light-webfont.woff2') format('woff2'),
         url('/fonts/ roboto-light-webfont.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

* {
    box-sizing: border-box;
}

div {
    display: block;
}

html {
    line-height: 1.15;
}

html, body {
    margin: 0;
    height: 100%;
    width: 100%;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    padding: 0;
    margin: 0;
}

ul li {
    list-style: none;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-weight: normal;
}

p {
    margin-top: 0;
}

img {
    display: block;
    max-width: 100%;
}

.body {

}

.wrapper {
    min-height: 100%;
    overflow: hidden;
    min-width: 1200px;
    display: flex;
    flex-direction: column;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

.header {
    
}

.header__conteiner {
    background: #2b2b40;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}

.logo {
    margin-left: 15px;
}

.contacts {
    margin-right: 20px;
    text-align: right;
    font-style: normal;
}

.contacts__tel {
     font-size: 28px; 
}

.contacts__phone {
    color: #fff;
    font-weight: bold;
    font-family: 'gotham_proregular';
}

.contacts__chart {
    font-size: 14px;
    font-family: open sans;
    color: #a52568;
    text-decoration: revert;
}

.contacts__chart:hover {
    color: #8886b3;
}

.banner {
    margin-bottom: 65px;
}

.banner__img {
    width: 1140px;
}

.contain {
    display: flex;
}

.menu__list {
    display: flex;
    flex-direction: column;
}

.menu__item {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
    color: #cb2376;
    position: relative;
}

.menu__item:hover:before {
    opacity: 1;
}

.menu__item:hover:after {
    opacity: 0;
}

.menu__item-triangle:after {
    content: "";
    position: absolute;
    display: block;
    top: 30%;
    left: 15%;
    transform: translate(-50%, -50%);
    width: 17px;
    height: 15px;
    background: url("/img/sprites.png") -90px -10px;
    transition: .2s;
}

.menu__item-star:after {
    content: "";
    position: absolute;
    display: block;
    top: 30%;
    left: 15%;
    transform: translate(-50%, -50%);
    width: 20px;
    height: 18px;
    background: url("/img/sprites.png") -10px -10px;
    transition: .2s;
}

.menu__item-star:before {
    content: "";
    position: absolute;
    display: block;
    top: 30%;
    left: 15%;
    transform: translate(-50%, -50%);
    width: 20px;
    height: 18px;
    background: url("/img/sprites.png") -50px -10px;
    transition: .2s;
}

.menu__item-star:before {
    content: "";
    position: absolute;
    display: block;
    top: 30%;
    left: 15%;
    transform: translate(-50%, -50%);
    width: 20px;
    height: 18px;
    background: url("/img/sprites.png") -50px -10px;
    transition: .2s;
}

.menu__item-wallet:after {
    content: "";
    position: absolute;
    display: block;
    top: 30%;
    left: 15%;
    transform: translate(-50%, -50%);
    width: 19px;
    height: 16px;
    background: url("/img/sprites.png") -49px -48px;
    transition: .2s;
}

.menu__item-wallet:before {
    content: "";
    position: absolute;
    display: block;
    top: 30%;
    left: 15%;
    transform: translate(-50%, -50%);
    width: 19px;
    height: 16px;
    background: url("/img/sprites.png") -10px -48px;
    transition: .2s;
}

.menu__item:hover {
    color:#000;
    text-decoration: underline;
}

.menu__link {
    margin-left: 40px;
    font-size: 12px;
    font-family: 'gotham_proregular';
    font-weight: bold;

}

.title {
    font-size: 49px;
    font-family: 'gotham_proregular';
    font-weight: bold;
    margin-left: 171px;
}

/* .offers__list {
    display: flex;
    justify-content: center;
}

.feature {
    display: flex;
    justify-content: center;
    margin-top: -168px;
    flex-direction: column;
}

.offers__content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.offers__item {
    padding: 15px 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 205px;
    margin-right: 60px;
}

.offers__item:last-child {
    margin-right: 0px;
}

.offers__title {
    font-weight: bold;
    font-size: 11px;
} */